<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<form th:fragment="addKudo" action="#" th:action="@{/add}" th:object="${addKudoForm}" method="post">
    <select th:field="${addKudoForm.userFrom}">
        <option th:each="user : ${addKudoForm.availableUsers}"
                th:value="${user.username}"
                th:text="${user.username}">Username[wireframe]</option>
    </select>
    thanks
    <select th:field="${addKudoForm.userTo}">
        <option th:each="user : ${addKudoForm.availableUsers}"
                th:value="${user.username}"
                th:text="${user.username}">Username[wireframe]</option>
    </select>
    for <input type="text" name="text" id="text" th:value="${addKudoForm.text}"/>
    <input type="submit" value="Add Kudo"/> <input type="reset" value="Reset" />
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
    </ul>
</form>
</body>
</html>