<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headTag">
    <meta http-equiv="Content-Type" content="username/html; charset=UTF-8"/>
    <title>Kudos!</title>

    <link href="../css/kudos.css"
          th:href="@{/css/kudos.css}" rel="stylesheet" />
</head>
<body>
<table th:replace="fragments/header :: headLinks" />
<br/>
<div th:unless="${#httpServletRequest.remoteUser != null}">
    <a href="/login">Login</a> to submit kudos!</div>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <form th:replace="fragments/addKudo :: addKudo" />
</div>
<!-- Disabling this due to some strangeness with binding for now.
<form th:replace="fragments/header :: searchTag"/-->
<h1>Kudos!</h1>
<div th:if="${foundKudos.foundKudos.size() > 0}">
    <div th:each="kudo : ${foundKudos.foundKudos}">
        <span th:text="${kudo.getKudoUserFrom().getUsername()}">Bob</span>
        <span> thanked </span>
        <span th:each="kudoTo : ${kudo.getKudoUsersTo()}">
            <span th:text="${kudoTo.getUsername()}">Sue</span>
        </span>
        <span> for </span>
        <span th:text="${kudo.getText()}">Being Awesome!</span>
        <span> at </span>
        <span th:text="${#dates.format(kudo.getDate(), 'MM-dd-yyyy HH:mm')}">01-01-1999 12:00</span>
    </div>
</div>
<div th:if="${foundKudos.foundKudos.size() == 0}">
    <span>No kudos found.</span>
</div>

</body>

</html>