<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headTag">
    <meta http-equiv="Content-Type" content="username/html; charset=UTF-8"/>
    <title>Kudos!</title>

    <link href="../css/kudos.css"
          th:href="@{/css/kudos.css}" rel="stylesheet" />
</head>
<body>
<table th:replace="fragments/header :: headLinks" />
<br/>
<div th:if="${#httpServletRequest.remoteUser != null}" th:inline="text">You are signed in as [[${#httpServletRequest.remoteUser}]]
</div>

<form th:fragment="login" th:unless="${#httpServletRequest.remoteUser != null}"
      action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <input type="text" name = "username" id = "username" th:value="*{username}"/>
    <input type="password" name = "password" id = "password" th:value="*{password}"/>
    <input type="submit" value="Login"/> <input type="reset" value="Reset" />
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
    </ul>
    <div th:text="${loginForm.getFeedback()}"/>
</form>
</body>

</html>