<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headTag">
    <meta http-equiv="Content-Type" content="username/html; charset=UTF-8"/>
    <title>Kudos!</title>

    <link href="../css/kudos.css"
          th:href="@{/css/kudos.css}" rel="stylesheet" />
</head>
<body>
<table style="float: right">
    <tr >
        <td><a href="/register">Register</a></td>
        <td><a href="/">Kudos</a></td>
    </tr>
</table><br/>
<form th:fragment="login" action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <input type="text" name = "username" id = "username" th:value="*{username}"/>
    <input type="text" name = "rawPassword" id = "rawPassword" th:value="*{rawPassword}"/>
    <input type="submit" value="Login"/> <input type="reset" value="Reset" />
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
    </ul>
    <div th:text="${loginForm.getFeedback()}"/>
</form>
</body>

</html>