<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: headTag">
    <meta http-equiv="Content-Type" content="username/html; charset=UTF-8"/>
    <title>Kudos!</title>

    <link href="../css/kudos.css"
          th:href="@{/css/kudos.css}" rel="stylesheet" />
</head>
<body>
<table style="float: right">
    <tr >
        <td><a href="/login">Login</a></td>
        <td><a href="/">Kudos</a></td>
    </tr>
</table><br/>
<form th:fragment="register" action="#" th:action="@{/register}" th:object="${registerUserForm}" method="post">
    <h2>To register for kudos, please supply the following information:</h2>
    <table>
        <tr><td>Username: </td><td><input type="text" name = "username" id = "username" th:value="*{username}"/></td></tr>
        <tr><td>E-mail address: </td><td><input type="text" name = "email" id = "email" th:value="*{email}"/></td></tr>
        <tr><td>Password: </td><td><input type="password" name = "password" id = "password" th:value="*{password}"/></td></tr>
        <tr><td>Password (confirm):</td><td><input type="password" name = "confirmationPassword" id = "confirmationPassword" th:value="*{email}"/></td></tr>
        <tr><td><input type="submit" value="Register"/> <input type="reset" value="Reset" /></td></tr>
    </table>
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
    </ul>
    <div th:text="${registerUserForm.getFeedback()}"/>
</form>
</body>

</html>